.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Default to 1 column */
  gap: 16px; /* Space between grid items */
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet and above */
  }
}

.list-contain {
  padding: 2rem;
}

.animated-component {
  display: inline-block;
  color: white;
  font-size: 20px;
  text-align: center;
  animation: shake-bounce 2s infinite, enlarge-shrink 2s infinite;
}

.animate-shake {
  display: inline-block;
  color: white;
  animation: shake-bounce 2s infinite;
}

.animate-size {
  display: inline-block;
  color: white;
  animation: enlarge-shrink 2s infinite;
}

@keyframes shake-bounce {
  0%,
  100% {
    transform: translateY(0);
    /* transform: translateX(0); */
  }
  25% {
    /* transform: translateY(-10px); */
    transform: translateX(-10px);
  }
  50% {
    transform: translateY(10px);
    /* transform: translateX(10px); */
  }
  75% {
    /* transform: translateY(-5px); */
    transform: translateX(-5px);
  }
}

@keyframes enlarge-shrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
